---
export interface Props {
    slug?: string;
    title?: string;
    description?: string;
    author?: string;
    date?: Date;
}

const site_name = "Keblo?";

const {
    slug = "main",
    title = site_name,
    description = "A collection of blog posts from Kevin Traini",
    author = "Kevin Traini",
    date,
} = Astro.props;

const canonical_url = new URL(Astro.url.pathname, Astro.url);
---

<link rel="canonical" href={canonical_url} />
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content={author} />

<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:image" content={`/open-graph/${slug}.png`} />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:alt" content={description} />
<meta property="og:url" content={canonical_url} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content={site_name} />

<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content={Astro.site} />
<meta property="twitter:url" content={canonical_url} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content="" />

{date && <meta property="article:published_time" content={date.toISOString()} />}

<link rel="sitemap" href="/sitemap-index.xml" />

<link rel="alternate" type="application/rss+xml" title={site_name} href={new URL("rss.xml", Astro.site)} />
