---
import BaseLayout from "./BaseLayout.astro";
import Title from "../components/Title.astro";
import type { PostEntry } from "../content.config.ts";
import ChapterPagination from "../components/ChapterPagination.astro";

export interface Props {
    post: PostEntry;
}

const { post } = Astro.props;
---

<BaseLayout
    slug={post.data.slug}
    title={post.data.title}
    description={post.data.description}
    author={post.data.author}
    date={post.data.date}
>
    <article>
        <Title post={post} />
        <section class="markdown mb-30 font-sans">
            <slot />
        </section>
        {post.data.story !== undefined && <ChapterPagination post={post} />}
    </article>
</BaseLayout>
